// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #213142
$secondary = #47515e
$accent    = #e3b23c

$positive  = #5b9279
$negative  = #E33C64
$info      = #31CCEC
$warning   = #F2C037

$white = #f2f4f3
$bg-grey = #B3B1AA
$primary-dark = #131c25

$typography-font-family = 'Rubik', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
